/**GENERAL STYLE*/
body {
    font-family: 'Nunito', sans-serif;
    color: #808080;
}

.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
    color: black;
}

.standard-padding {
    padding: 1rem 7rem;
}

/*@media screen and (min-width: 768px) and (max-width: 1440px) {*/
/*    .standard-padding {*/
/*        padding: 1rem;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1441px) {*/
/*    .standard-padding {*/
/*        padding: 1rem 7rem;*/
/*    }*/
/*}*/

.footer-bg {
    background-color: #121212;
    color: white;
}

.yellow {
    color: #FFBE3D;
}

.yellow-bg {
    background-color: #FFBE3D;
}

.btn-balck {
    background-color: #121212;
    border-color: #121212;
    color: white;
}

.radius-18 {
    border-radius: 18px;
}

.white {
    color: white;
}

.dynamic-position {
    position: absolute;
}

.mt-15 {
    margin-top: 15rem !important;
}

.mb-15 {
    margin-bottom: 15rem !important;
}

.mt-12 {
    margin-top: 12rem !important;
}

.mb-12 {
    margin-bottom: 12rem !important;
}


/**FEATURES STYLE*/
.features-first-card {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    text-align: left !important;
    padding: 1rem;
    border: none;
    box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.1);
}


.first-card {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: left !important;
    padding: 1rem;
    border: none;
    box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.1);
}

.iphone2-position {
    bottom: 0;
}

.footer-card-logo-position {
    bottom: 3.5rem;
    right: 20%;
}

.carousel-element {
    display: none !important;
    position: relative;
    left: 0;
    width: 100%;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeAnimation {
    from {
        opacity: 0; /* Start fully transparent */
    }
    to {
        opacity: 1; /* Fade in to fully opaque */
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1; /* Start fully opaque */
    }
    to {
        opacity: 0; /* Fade out to fully transparent */
    }
}

.carousel-active-element {
    display: flex !important;
}

.carousel-buttons {
    position: absolute;
    bottom: 10%;
    left: 16rem;
}

.pop-element {
    transition: transform 0.3s ease-in-out; /* Smooth transition on hover */
}

.pop-element:hover {
    transform: scale(1.1); /* Scale up by 10% on hover */
}

.footer-card {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    text-align: left !important;
    padding: 1rem;
    border: none;
    box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.1);
    background-color: #FFBE3D !important;
    background-image: url("../media/features/bg-line.png");
    background-size: cover;
}

/* homepage */

.icons-margin {
    margin-right: 1rem;
}

.button-fs {
    font-size: 1.5rem;
}

.home-first-card {
    bottom: 5%;
}

.cards-shadow {
    border: none;
    box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.1);
}

.absolute-row-position {
    bottom: 15%;
}

.chart1-position {
    right: 0;
    bottom: 0;
}


/*RESPONSIVE*/
@media (max-width: 991px) {
    .header-logo-w-25 {
        width: 25rem;
    }

    h1 {
        font-size: 6rem;
        font-weight: bold;
    }

    h2 {
        font-size: 5rem;
        font-weight: bold;
    }

    h3 {
        font-size: 4rem;
        font-weight: bold;
    }

    p {
        font-size: 2rem;
    }

    button {
        font-size: 3rem !important;
        font-weight: bold !important;
        margin-top: 2rem;
    }

    .font-size-6-b {
        font-size: 6rem;
        font-weight: bold;
    }

    .mb-25-tm {
        margin-bottom: 25rem !important;
    }

    .mt-25-tm {
        margin-top: 25rem !important;
    }

    .mb-55-tm {
        margin-bottom: 55rem !important;
    }

    .mt-55-tm {
        margin-top: 55rem !important;
    }
    .mb-45-tm {
        margin-bottom: 45rem !important;
    }
    .mt-45-tm {
        margin-top: 45rem !important;
    }
    .pb-0-tm {
        padding-bottom: 0;
    }
    .dynamic-position {
        position: relative;
    }

    .mt-15 {
        margin-top: 0 !important;
    }

    .mb-15 {
        margin-bottom: 0 !important;
    }

    .small-screen-center {
        text-align: center;
    }

    /*    .mt-12 {*/
    /*        margin-top: 0 !important;*/
    /*    }*/
    /*    .mb-12 {*/
    /*        margin-bottom: 0 !important;*/
    /*    }*/
    .footer-card {
        left: auto;
        transform: none;
        width: 100%;
        text-align: left !important;
        padding: 1rem;
        border: none;
        box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.1);
        background-color: #FFBE3D !important;
        background-image: url(../media/features/bg-line.png);
        background-size: cover;
        border-radius: 0 !important;
    }
    .carousel-active-element {
        display: block !important;
    }
    .carousel-image img {
        max-height: 20vh;
        width: 100%;
    }

    .carousel-buttons {
        position: absolute;
        left: unset;
        bottom: 0;
        right: 0;
    }
    #previous-button, #next-button {
        width: 5rem;
    }
}